
body {
  background-image: url(/portfolio2/img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.profilepic {
    box-shadow: 5px 5px 5px;
}

a:link {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: inherit;
  }
  
  a:active {
    text-decoration: none;
    color: inherit;
  }

  a {
    color: inherit;
  }

  .img-thumbnail {
      box-shadow: 5px 5px 5px;
  }
  .img-thumbnail2 {
    box-shadow: 5px 5px 5px;
    width: 370px;
    border: 5px solid #fff;
}
